.kapo-image-map:hover {
  opacity: 0.5;
}

.kapo-org a {
  cursor: pointer;
}

.kapo-Overlay img {
  width: 100%;
  height: auto;
}

.org-callout {
  padding: 0px 10px;
}

.ms-Callout-beak,
.ms-Callout-beakCurtain,
.ms-Callout-main {
  background-color: #eee !important;
}

.org-callout .org-callout-title {
  font-weight: bold;
}

.org-callout .org-callout-content ul {
  padding-left: 1.2em;
  list-style-type: none;
}

.org-callout .org-callout-content ul > li:before {
  content: "–"; /* en dash */
  position: absolute;
  margin-left: -1.1em; 
}
